*
{
    padding:0;
    margin:0;
}
body {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* 세로 스크롤바 표시 */
}
nav
{
    width:100%;
    height: auto;
}
.top_menu
{
    width:100%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    color:white;
    padding: 30px 30px;
    border-bottom: 1px solid white;
    z-index: 2;
}
.menu_category
{
    display:block;
    width:100%;
    height: 100%;
    text-decoration: none;
    color:white;
}
#video_div
{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: black;
    opacity: 0.5;
}