<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Legends</title>
    <link rel="stylesheet" href="../static/css/sub_page_1.css">
    <link rel="stylesheet" href="../static/css/top_menu.css">
    <style>
        *
        {
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        html,body
        {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="top_menu">
                <div><a class="menu_category" href="/">Logo</a></div>
                <div><a class="menu_category" href="/LOL">category</a></div>
                <div><a class="menu_category" href="">category</a></div>
                <div><a class="menu_category" href="">category</a></div>
                <div><a class="menu_category" href="">category</a></div>
            </div>
        </nav>
    </header>
    <section>
        <article class="person_list">
            <div class="list_box">
                <a href="#" onclick="handleImageClick('페이커', 1)"><img src="../static/img/person/GOAT.jpg"></a>
                <p class="list_name">페이커 ( Faker )</p>
            </div>
            <div class="list_box">
                <a href="#" onclick="handleImageClick('피오라', 1)"><img src="../static/img/person/Fiora.jpg"></a>
                <p class="list_name">피오라 ( Fiora )</p>
            </div>
            <!-- 추가적인 인물들은 이어서 나열하시면 됩니다 -->
        </article>
    </section>  
    <script>
        // 이미지를 클릭할 때 호출되는 함수
        function handleImageClick(name, table_index) {
            // 클릭된 경우, /update_data_select 엔드포인트에 table_index 값을 전송
            fetch('/update_data_select', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ value: table_index }) // 여기에 적절한 table_index 값을 넣어주세요
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // 서버로부터의 응답 확인
                // 이 부분에 원하는 추가 처리를 할 수 있습니다.
            })
            .catch(error => console.error('Error:', error));
    
            // 클릭된 이미지의 이름을 URL 파라미터로 추가하여 index.html로 이동
            window.location.href = '/index?name=' + name + '&table_index=' + table_index;
        }
    </script>
</body>
</html>
