<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 추천 시스템</title>
    <link rel="stylesheet" href="../static/css/top_menu.css">
    <link rel="stylesheet" href="../static/css/index_css.css">
    <script src="../static/js/shop_link.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="top_menu">
                <div><a class="menu_category" href="/">Logo</a></div>
                <div><a class="menu_category" href="/LOL">category</a></div>
                <div><a class="menu_category" href="/PUBG">category</a></div>
                <div><a class="menu_category" href="/SA">category</a></div>
                <div><a class="menu_category" href="">category</a></div>
            </div>
        </nav>
    </header>

    <!-- 유명인 정보 표시 -->
    {% if famous_person %}
    <h2>{{ famous_person }}</h2>
    {% if famous_person_data %}
    <div>
        <img class="product_img" src="{{ url_for('static', filename='img/product/' + famous_person_data.headset + '.jpg') }}" alt="헤드셋 이미지">
        <img class="product_img" src="{{ url_for('static', filename='img/product/' + famous_person_data.keyboard + '.jpg') }}" alt="키보드 이미지">
        <img class="product_img" src="{{ url_for('static', filename='img/product/' + famous_person_data.mouse + '.jpg') }}" alt="마우스 이미지">
        <img class="product_img" src="{{ url_for('static', filename='img/product/' + famous_person_data.moniter + '.jpg') }}" alt="모니터 이미지">
        <img class="product_img" src="{{ url_for('static', filename='img/product/' + famous_person_data.mouse_pad + '.jpg') }}" alt="마우스 패드 이미지">        
    </div>
    {% endif %}
    {% endif %}

    <!-- 제품 추천 섹션 -->
    {% if product_title %}
    <h2>{{ product_title }}와(과) 비슷한 제품 추천</h2>
    <section>
        <div class="product_div">
        {% for item in recommended_products %}
            <div class="product_head">
                <img alt="서버 이미지 오류" src="{{ url_for('static', filename='img/product/' + item['제품'] + '.jpg') }}" class="product_img">
                <div class="product_tail">
                    <p class="shop_tag">
                        <span class="product_name">{{ item['제품'] }}</span><br>
                        <span class="description">{{ item['설명'] }}</span><br><br>
                        <a href="javascript:void(0);" onclick="goToProductLink('{{ item['제품'] }}')" class="shop_tag">옥션</a>
                        <a href="javascript:void(0);" onclick="goToProductLink_2('{{ item['제품'] }}')" class="shop_tag">11번가</a>
                        <a href="javascript:void(0);" onclick="goToProductLink_3('{{ item['제품'] }}')" class="shop_tag">G마켓</a>
                        <a href="javascript:void(0);" onclick="goToProductLink_4('{{ item['제품'] }}')" class="shop_tag">쿠팡</a>
                        <a href="javascript:void(0);" onclick="goToProductLink_5('{{ item['제품'] }}')" class="shop_tag">티몬</a>
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}
</body>
</html>
